body{
    margin: 0;
    padding:0;
}

.header {
    background-image: url('/image/imageS1.png');
    background-size: auto 100%;
    background-position:top;
    height: 200px;
    background-repeat: no-repeat;
    background-color: #6DA4A3;
    position:relative;
    z-index: 1;
    margin-top: 0px;


}
.perfil{
    background-image: url('/image/perfil.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 90px;
    width: 100px;
    height: 100px;
    z-index: 2; /* hace que la imagen se sobre ponga sobre cualquiera */
    box-shadow: 20px 10px 30px black;
}

h1{
    font-family: "Madimi One", sans-serif;
    font-size: 80px;
    color: #E6E6DD;
    font-weight: 400;
    background-color: #6DA4A3;
    margin-top: 0%;
    position: relative;
    z-index: 3;
}

.intro{
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    margin-top: -1%;
    text-align: center;

}

.video{    
    background-image: url('/image/video.png');
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 500px;
    margin-top: 20px;
    margin-left: auto;
    margin-right:auto;
    position: relative;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    background-repeat: no-repeat;
}

a[href="html/maps.html"]{
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    margin-top: 20px;
    padding: 10px;
    margin-left: -40px;
}

a[href="html/contact.html"]{
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    padding: 10px; 
    margin-left: -40px;
}
a[href="html/productos.html"]{
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    padding: 10px; 
    margin-left: -40px;
}
a[href="html/us.html"]{
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    padding: 10px;  
    margin-left: -40px;
}

.derechos{
    font-family: "Madimi One", sans-serif;
    font-size: 15px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    padding: 10px;  
}

iframe {
    width: 60%; 
    height: 400px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display:block;
    
}

.textomapa{
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    margin-top: 0px;
    text-align: center;

}

a[href="/index.html"]{
    font-family: "Madimi One", sans-serif;
    font-size: 30px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    text-align: center;
    display: block;
    padding: 10px;   
    margin-left: -40px;
}

select{
    width:50%;
    padding: 10px;
    font-size: 30px;
    margin: 0 auto;
    display: block;
    font-family: "Madimi One", sans-serif;
    color: #E6E6DD;
    background-color: #6DA4A3;
}

.nos{
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    margin-top: 0px;
    text-align: right;

}
.otros{
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #E6E6DD;
    background-color: #6DA4A3;
    margin-top: 0px;
    text-align: left;
}
 /* PERSONALIZARCION DROP */


/* navbar customization */
.bg-color-custom {
    font-family: "Madimi One", sans-serif;
    background-color: #6DA4A3 !important;
    color: #E6E6DD;
    margin-top: auto;
}
/* menu dropdown productos desde index */
.dropdown-menu a[href="html/productos.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}
/* menu dropdown productos desde htmls */
.dropdown-menu a[href="productos.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}
/* menu dropdown maps desde index */
.dropdown-menu a[href="html/maps.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}
/* menu dropdown productos desde htmls */
.dropdown-menu a[href="maps.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}
/* menu dropdown contact desde index */
.dropdown-menu a[href="html/contact.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top:auto;
}
/* menu dropdown contact desde html */
.dropdown-menu a[href="contact.html"] {
    font-family: "Madimi One", sans-serif;
    color: inherit;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
}
/* menu dropdown us desde html */
.dropdown-menu a[href="us.html"] {
    font-family: "Madimi One", sans-serif;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}
/* menu dropdown contact desde html */
.dropdown-menu a[href="contact.html"] {
    font-family: "Madimi One", sans-serif;
    background-color: #6DA4A3;
    text-align: left;
    display: block;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-top: -8px;
    font-size: 30px;
}

/* home */
.navbar-nav .nav-item .nav-link.active {
    font-family: "Madimi One", sans-serif;
    font-size: 30px; 
    font-weight: bold; 
    color: #E6E6DD;
    background-color: #6DA4A3; 
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-left: 25px;
    margin-top: 5px;
    
}

/* fish&co */
.navbar-brand {
    font-family: "Madimi One", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #E6E6DD; 
    text-decoration: none; 
    margin: auto;
    margin-left: auto;
    margin-top: auto;
}

/* Estilo para el texto del elemento Dropdown en el navbar */
.nav-item.dropdown .nav-link {
    font-family: "Madimi One", sans-serif;
    font-size: 35px; 
    color: #E6E6DD; 
    margin: auto;
    margin-left: auto;
    background-color: #6DA4A3; 
    padding: 10px 15px; 
    border-radius: 5px; 
    margin-left: 25px;
    
}
/* hacer que los links tengan un color despues de presionar */
.navbar-nav .nav-item .nav-link.active {
    color:#E6E6DD; 
}

/* Estilo para el enlace de marca sin apariencia de botón y sin hover */
.navbar-brand {
    color: inherit; 
    background-color: transparent !important; 
    border: none !important;
    padding: 0; 
    text-decoration: none; 
}

/* Evitar el efecto de hover en el enlace de marca */
.navbar-brand:hover {
    color: inherit !important; 
    background-color: transparent !important; 
}

/* imagenes de productos  */
.pagina-productos{
    background-color: #6DA4A3;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espacio entre las imágenes */
    max-width: 800px; /* Ajustar tamaño máximo de las imágenes */
    height: auto; 
    grid-template-rows: 1fr 1fr 1fr; 
    justify-content: center;

}

/* ajustando imagenes */
.contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantener la relación de aspecto */
}

/* configuracion homepage */
.pagina-home{
    background-color: #6DA4A3;

}

@media (max-width: 600px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%; /* Ajustar al ancho completo */
        margin: 0 auto; /* Centrar el contenedor */
    }
    .perfil {
        width: 80px; /* Reducir el tamaño */
        height: 80px;
        top: 10px; /* Ajustar la posición desde la parte superior */
        right: 10px; /* Ajustar la posición desde la derecha */
        box-shadow: none; /* Eliminar la sombra */
        z-index: 1; /* Asegurar que esté detrás de otros elementos */
    }
    .video {
        width: 70%; /* Ancho del video para 600px */
        height: auto; /* Altura automática para mantener la proporción */
        margin-left: 0; /* Centrar el video horizontalmente */
        margin-right: -50px'; /* Centrar el video horizontalmente */
    }
}
/* mq desktop*/
@media (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto; /* Autoajustar tamaño de las filas */
        justify-content: center;
        margin: 0 auto;
    }
    .video {
        width: 50%; /* Ancho del video para 1024px */
        height: auto; /* Altura automática para mantener la proporción */
        margin-left: auto; /* Centrar el video horizontalmente */
        margin-right: auto; /* Centrar el video horizontalmente */
    }
  }








